doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title todue
  link(rel='stylesheet', href='/css/styles.min.css', media='screen', charset='utf-8')
  script(src='/js/libraries.min.js', charset='utf-8')
  script(src='/socket.io/socket.io.js', charset='utf-8')
body
  nav.navbar.navbar-fixed-top.bg-inverse
    a.navbar-brand(href='/')
      b.todue-brand todue
    button.navbar-toggler.hidden-sm-up.pull-xs-right(data-toggle='collapse', data-target='#collapse-navbar') &#9776;
    form#collapse-navbar.collapse.navbar-toggleable-xs.form-inline.new-task-form

  .container
    ul.list-group
      li.task.list-group-item.dif-hard
        .task-input.input-group
          .task-row
            .animated-checkbox.task-checkbox
              input#1(type='checkbox', checked=false)
              label(for='1')
            input.task-name.form-control(type='text',value='P.130#1-7')
            button.input-group-addon.task-row-collapse
              i.fa.fa-chevron-down
          .task-collapse.collapse
            .task-row
              button.input-group-addon.bg-primary.task-tag Hard
                i.fa.fa-times
              button.input-group-addon.bg-primary.task-tag Math
                i.fa.fa-times
              button.input-group-addon.bg-primary.task-tag Reading
                i.fa.fa-times
            .task-row
              .input-group-addon.bg-primary.difficulty-tag
                .abc-radio.abc-radio-success
                  input(type='radio', name='one', value='1')
                  label
                .abc-radio.abc-radio-warning
                  input(type='radio', name='one', value='2')
                  label
                .abc-radio.abc-radio-danger
                  input(type='radio', name='one', value='3', checked)
                  label
              input.task-date.form-control(type='text',value='1 Week')
              .input-group-addon.date-tag
                i.fa.fa-calendar

      li.task.list-group-item.dif-medium
        .task-input.input-group
          div.task-row
            .animated-checkbox.task-checkbox
              input#2(type='checkbox', checked=false)
              label(for='2')
            input.task-name.form-control(type='text',value='History Pages')
            button.input-group-addon.task-row-collapse
              i.fa.fa-chevron-down
          .task-collapse.collapse
            .task-row
              button.input-group-addon.bg-primary.task-tag Medium
                i.fa.fa-times
              button.input-group-addon.bg-primary.task-tag History
                i.fa.fa-times
              button.input-group-addon.bg-primary.task-tag Packet
                i.fa.fa-times
            .task-row
              .input-group-addon.bg-primary.difficulty-tag
                .abc-radio.abc-radio-success
                  input(type='radio', name='two', value='1')
                  label
                .abc-radio.abc-radio-warning
                  input(type='radio', name='two', value='2', checked)
                  label
                .abc-radio.abc-radio-danger
                  input(type='radio', name='two', value='3')
                  label
              input.task-date.form-control(type='text',value='11/21/16')
              .input-group-addon.date-tag
                i.fa.fa-calendar

      li.task.list-group-item.dif-easy
        .task-input.input-group
          div.task-row
            .animated-checkbox.task-checkbox
              input#3(type='checkbox', checked=false)
              label(for='3')
            input.task-name.form-control(type='text',value='Hebrew')
            button.input-group-addon.task-row-collapse
              i.fa.fa-chevron-down
          .task-collapse.collapse
            .task-row
              button.input-group-addon.bg-primary.task-tag Easy
                i.fa.fa-times
              button.input-group-addon.bg-primary.task-tag Hebrew
                i.fa.fa-times
              button.input-group-addon.bg-primary.task-tag Reading
                i.fa.fa-times
            .task-row
              .input-group-addon.bg-primary.difficulty-tag
                .abc-radio.abc-radio-success
                  input(type='radio', name='three', value='1', checked)
                  label
                .abc-radio.abc-radio-warning
                  input(type='radio', name='three', value='2')
                  label
                .abc-radio.abc-radio-danger
                  input(type='radio', name='three', value='3')
                  label
              input.task-date.form-control(type='text',value='2 Days')
              .input-group-addon.date-tag
                i.fa.fa-calendar

  script(
    type='text/babel'
  ).


  script(src='/js/scripts.min.js', charset='utf-8')
